<!DOCTYPE html>

<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/index.js"></script>

    <meta name="keywords" content="Çetele,Cetele,Open Source Student Managemenet System,Kentel">
    {% if lang=="tr" %}
    <title>Çetele - İnternet Koçluk Sistemi</title>
    {% else %}
    <title>Cetele - Study Managemenet System</title>
    <meta name="description" content="Free software that allows teachers and schools manage their students and take control of their studies.">
    {% endif %}
    
    <meta name="author" content="Kentel">
</head>
<body>
    {% block body %}
    {% endblock %}
    <script>getDeviceLanguage()</script>
</body>
</html>
