{% extends 'base.html' %}
{% block body %}

<div class="c">
  <div class="drop drop1"></div>
  <div class="drop drop2"></div>
  <div class="text-c">
    <h1>Çetele, much more efficient</h1>
    <p>Created for maximum study efficiency</p>
    <div class="row" style="display:grid;column-gap:50px;grid-template-columns: auto auto;">
    	<div class="col">
    		<button class="mybtn">Login</button>
    	</div>
    	<div class="col">
    		<button class="mybtn">Register</button>
    	</div>
    	
    </div>
  </div>
</div>



{% endblock %}