{% extends 'base.html' %}
{% block body %}

<div class="c">
  <div class="drop drop1"></div>
  <div class="drop drop2"></div>
  <div class="text-c">
    <h1>Çetele, daha verimli</h1>
    <p>En yüksek ders verimi için üretildi</p>
    <div class="row" style="display:grid;column-gap:50px;grid-template-columns: auto auto;">
    	<div class="col">
    		<button class="mybtn">Giriş yap</button>
    	</div>
    	<div class="col">
    		<button class="mybtn">Kayıt ol</button>
    	</div>
    	
    </div>
  </div>
</div>



{% endblock %}